<h1>Teachers</h1>

<% ordered_teachers = @teachers.all.sort_by{|teacher| teacher.id} %>
<% ordered_courses = @courses.all.sort_by{|course| course.id} %>

<ul>
  <% ordered_teachers.each do |teacher| %>
    <li><a href="/teachers/<%= teacher.id %>"><%= teacher.name %></a> ||
        <a href="/teachers/<%= teacher.id %>/edit">Edit</a> ||
        <a href="/teachers/<%= teacher.id %>"
           data-confirm="Permanently delete teacher?"
           data-method="delete"
           rel="nofollow">Delete Teacher</a>
    </li>

    <ul>
      <% ordered_courses.each do |course| %>
        <% if course.teacher_id == teacher.id %>
          <li><a href="/courses/<%= course.id %>"><%= course.name %></a>||
              <a href="/courses/<%= course.id %>/edit"> Edit</a> ||
              <a href="/courses/<%= course.id %>"
                data-confirm="Permanently delete course?"
                data-method="delete"
                rel="nofollow">Delete Course</a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <br>
  <% end %>
</ul>

<div class="footer">
  <a href="/teachers/new">Add a new teacher</a>
  - <a href="/courses/new">Add a new course</a>
  - <a href="/students/new">Add a new student</a>
  - <a href="/courses">See all courses</a>
  - <a href="/students">See all students</a>
  - <a href="/teachers">Go Home</a>
</div>
