<h1><%= @teacher.name %></h1>

<ul>
  <% @courses.each do |course| %>
    <li><a href='/courses/<%= course.id %>'><%= course.name %></li>
  <% end %>
</ul>

<p><a href="/teachers/<%= @teacher.id %>/edit">Edit <%= @teacher.name %></a></p>
<p><a href="/teachers">Go Home</a></p>
